{% extends "layout.html" %}
{% block content %}


<div class="container">
	<p class="lead pb-4">
		HARDIO is a free Performance Management tool for cyclists (and potentially runners in future) with emphasis on
		analysing cardiovascular and metabolic effects of training with power.
	</p>
	<p>
		Besides the Software Development Learning purpose (more on that below) in my cycling training journey I needed a
		simple way to analyse and visualize progress of my ability to recover after various training efforts.
		I'm talking mainly about post-interval Heart Rate (HR) recovery and HR drift spanning across weeks and month of
		training. More ideas to come.
	</p>
	HARDIO is deployed on a free Heroku Dyno and is available for use (may take a while to load if Dyno has fallen
	asleep). You can either create your account and authorize application to get your cycling rides data from Strava or
	play with test dataset based on my own rides.
	</p>
</div>


{% endblock content %}
